<nav>
  <div class="site-title">
    <a href="/"><h1>Patient Tracker</h1></a>
  </div>
  <ul>
    <li><a href="/patients">Patients</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Patient</a></li>
  </ul>
</nav>